<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165190498307-6lkqkbevimtcuqea60ugrfck8mlo7d09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165190498307-6lkqkbevimtcuqea60ugrfck8mlo7d09</string>
	<key>API_KEY</key>
	<string>AIzaSyDxVgEcYO3YAsTgMeseaud8WNYFnEwRg5I</string>
	<key>GCM_SENDER_ID</key>
	<string>165190498307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maksimPonomarev.Homework</string>
	<key>PROJECT_ID</key>
	<string>vk-client-ffa33</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-client-ffa33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165190498307:ios:39fbb470da4f5ef3c57636</string>
</dict>
</plist>